html {
    font-size: 18px;
}

body {
    font-family: Helvetica;
    line-height: 1;
}

#banner {
    color: white;
    height: 70px;
    background-color: black;
    margin-left: 0;
}

#banner img {
    padding-left: 0.5rem;
    padding-right: 1rem;
    max-height: 1.5rem;
    max-width: 100%;
    width: auto;
}

.brand span {
    font-size: 1rem;
    color: white;
    align-text: center;
}

.ninesixtycontainer {
    width: 960px;
    margin: 0 auto;
    padding: 0.66rem;
}

#motorcycleimage {
    background-image: url(../images/moto.jpeg);
    height: 25rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.motocaption {
    background-color: black;
    color: white;
    width: 20rem;
    position: absolute;
    top: 9rem;
    margin-left: 0;
}


nav {
    display: flex;
    justify-content: space-around;
    background-color: firebrick;
}

nav span {
    display: block;
    padding-top: .75rem;
    padding-bottom: .75rem;
}

nav a {
    color: white;
    text-decoration: none;
}

h4 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    padding-top: 2rem;
    padding-bottom: .5rem;
    padding-left: 3rem;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    padding-left: 3rem;
    margin: 0;
    padding-bottom: 1.5rem;
    
}

