html {
    font-size: 18px;
}

body {
    font-family: Helvetica;
    line-height: 1;
}

.banner {
    color: white;
    height: 3.80rem;
    background-color: black;
    margin-left: 0;
    padding-top: 1rem;
}

.banner img {
    padding-left: 0.5rem;
    padding-right: 1rem;
    max-height: 1.5rem;
    max-width: 100%;
    width: auto;
}

.ninesixtylogo {
    width: 960px;
    margin: 0 auto;
    padding: 0.66rem;
}

.ninesixtymoto {
    display: flex;
    width: 960px;
    height: 25rem;
    align-content: flex-start;
    margin: 0 auto;
}

#motorcycleimage {
    background-image: url(../images/moto.jpeg);
    height: 25rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.motocaption {
    background-color: black;
    color: white;
    width: 20rem;
    height: 12rem;
    top: 9rem;
    margin-left: 0;
    margin-top: 6rem;
}

nav {
    display: flex;
    padding: .75rem 0rem;
    background-color: firebrick;
}

.ninesixtycontainer {
    display: flex;
    width: 960px;
    margin: 0 auto;
    justify-content: space-between;
}

nav span {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

nav a {
    color: white;
    text-decoration: none;
}

h4 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    padding-top: 2rem;
    padding-bottom: .5rem;
    padding-left: 3rem;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    padding-left: 3rem;
    margin: 0;
    padding-bottom: 1.5rem;   
}

.productcontainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  width: 100%;
}

.product {
    display: flex;
    flex-direction: column;
    margin: 3rem 0 3rem 0;
    border: 4px solid black;
    width: 30%;
    justify-content: center;
}

img.pen {
    height: 9rem;
    margin: 2rem auto;
}
    
img.watch {
    height: 9rem;
    margin: 2rem auto;
}

img.glasses {
    width: 12rem;
    height: auto;
    margin: auto;
}

.locationhours {
    margin: 3rem 0 4rem 0;
    width: 35%;
}

.caption {
    background-color: black;
    color: white;
}

h5 {
    padding: .5rem 0 .5rem 0;
    text-align: center;
}
